<ion-header>
  <ion-toolbar>
    <ion-title>
      Currency calculator
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="show_rates()">
        <ion-icon slot="icon-only" name="pulse"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="amount" (ionChange)="convert();" type="number" step="0.01" placeholder="Amount here"></ion-input>
        <ion-label>{{currencyService.baseCurrency}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-input readonly value="{{result | number : '1.2-2'}}"></ion-input>
        <ion-select [(ngModel)]="currency" (ionChange)="convert();">
          <!--Make sure that you do not have any whitespaces inside list.-->
          <ion-select-option *ngFor="let rate of items">{{rate.currency}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
